*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
body{
    display: grid;
    margin: 0;
    padding: 0;
    place-items: center;
    height: 100px;

}
.container{
height: 400px;
width: 400px;
background-color: skyblue;
border: 1px solid black;
position: relative;
}
.container h2{
   
    font-size: 30px;
    color: black;
    position: absolute;
    top: 10%;
    left: 37%;
}
.container h1{
    width: 125px;
    height: 125px;
    text-align: center;
    font-size: 100px;
    position: absolute;
    top: 30%;
    left: 35%;

}
#buttons{
    width: 210px;
    height: 60px;
    position: absolute;
    bottom: .1%;
    left: 30%;
}
#buttons button{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid black;
}
#increment{
    
    position: absolute;
    right: 0;
}
#decrement{
    
    position: absolute;
}